@import "./color.scss";
@import "./font.scss";

.divider-line {
  border: none;
  height: 1px !important;
  position: relative;
  width: 100%;
  overflow: hidden !important;

  &::after {
    content: "";
    @include divider(1px);
    width: 100vw;
    position: absolute;
    left: -20px;
    top: 0;
  }
}
