.logo {
  width: 215px;
  height: 215px;
  background: #d9d9d9;
  border-radius: 100%;
  margin: 0 auto 90px auto;
}

.forgetAccount {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: $gray7;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 30px auto 0 auto;

  &::after {
    content: "";
    display: inline-block;
    @include maskIcon("/icons/system/arrow-right-s-line.svg", 20px);
  }
}

.login {
  padding-top: 20px;

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
}

.agree_item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  font-size: 14px;

  & > div {
    margin-bottom: 0;
    min-height: unset;
  }
}

.plusBtn {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
  }
}
