.header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: $max-layout;
  transition: background 0.3s;
  position: fixed;
  left: 50%;
  top: 20px;
  width: calc($max-layout - 40px);
  background: #fff;
  transform: translateX(-50%);
  z-index: 100;
  justify-content: space-between;

  .left {
    a {
      display: flex;
      align-items: center;

      img {
        margin-right: -1px;
      }
    }
  }
}
