.header {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  max-width: 500px;
}

.fixed {
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  background: #fff;
  transform: translateX(-50%);
  z-index: 100;

  & + main {
    padding-top: 48px;
  }
}

.transparent {
  background: transparent;
  color: #fff;
}

.prevBtn,
.searchBtn {
  background: transparent;
  border: none;
  padding: 0;

  svg {
    width: 24px;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  margin-left: auto;
}
