.header {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.prevBtn {
  background: transparent;
  border: none;
  padding: 0;

  svg {
    width: 24px;
  }
}

.middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  margin-left: auto;
}
